name: publish.yml
on:
  push:
    branches: [ master, main ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build with Maven
        run: mvn clean -DskipTests package --file pom.xml

      - run: echo "Hello world"


